{% extends 'base.html' %} 

{% block content %}
<head>
    <style>
      .custom-navbar {
          background-color: #a2d2ff;
      }
    </style>
  </head>
<!-- akhir css custom navbar -->

  <!-- <nav class="navbar bg-dark border-bottom border-bottom-dark navbar-dark" data-bs-theme="light"> -->
    <nav class="navbar border-bottom border-bottom-dark navbar-light custom-navbar" data-bs-theme="light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">StokNya Aku</a>
      </div>
    </nav>
  <!-- akhir kodingan navbar -->

  <head>
    <style>
        body{background-color: #ffafcc;}
        /* supaya judulnya di center */
        .center-text {
        text-align: center;
    }
    </style>
  </head>

<h2 class="center-text">Tambahkan Item ke Dalam Stok Kamu!</h2>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <!-- <input type="submit" value="Tambahkan Item"/> -->
                <button type="submit" class="btn btn-primary">Tambahkan Item</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}