{% extends 'base.html' %}

{% block content %}
  <!-- Mulai code buat navbar -->
  <!-- mulai css custom warna navbar -->  
  <head>
      <style>
        .custom-navbar {
            background-color: #a2d2ff;
        }
      </style>
    </head>
  <!-- akhir css custom navbar -->

    <!-- <nav class="navbar bg-dark border-bottom border-bottom-dark navbar-dark" data-bs-theme="light"> -->
      <nav class="navbar border-bottom border-bottom-dark navbar-dark custom-navbar" data-bs-theme="light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">StokNya Aku</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Fitur & Cara Penggunaan</a>
              <a class="nav-link" href="#">Detail Produk Simpanan</a>
              <a class="nav-link" href="{% url 'main:logout' %}">Logout</a> <!-- aria-disabled="true" -->
            </div>
          </div>
        </div>
      </nav>
    <!-- akhir kodingan navbar -->

    <!-- bikin warna background -->
  <head>
    <style>
        body{background-color: #ffafcc;}
        /* supaya judulnya di center */
        .center-text {
        text-align: center;
    }
    </style>
  </head>

    <!-- <h1>Laman StokNya Aku</h1> -->
  <div class="center-text">
    <h1>Halo, {{name}}!</h1>
    <h3>Silakan baca keterangan dibawah untuk mulai menggunakan app StokNya Aku</h3>
  </div>

    <h4>🌟 Ketentuan menyimpan banyaknya barang</h4>
    <p>{{ amount }}</p> <!-- memanggil amount -->

    <h4>Get To Know about StokNya Aku</h4>
    <p>{{ description }}</p> <!-- memanggil description -->

    <!-- code CSS buat kasih warna di card -->
    <style> 
      .custom-card {
          background-color: #cdb4db;
      }
  </style>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4 mx-auto">
                <div class="card mb-4 custom-card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Amount: {{ product.amount }}</p>
                        <p class="card-text">Date Added: {{ product.date_added }}</p>
                        <!-- mulai div biar button bsia ke samping -->
                        <div class="d-flex justify-content-between">
                        <form method="post" action="{% url 'main:tambah_amount' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Tambah Amount</button>
                        </form>
                        <form method="post" action="{% url 'main:kurangi_amount' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Kurangi Amount</button>
                        </form>
                        <form method="post" action="{% url 'main:delete_item' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm">Hapus Produk</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- akhir code bikin card -->

    <h5>Hore!!🥳 Kamu menyimpan {{product_count}} item pada aplikasi StokNya Aku. Stok yang {{name}} miliki berhasil di update!! </h5>
    <br />

    <a class="btn btn-primary btn-sm" href="{% url 'main:create_product' %}" role="button">Tambah Isi Stok</a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

<!-- </div> -->
{% endblock content %}